# ps-app.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ps-app-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: ps-app
  template:
    metadata:
      labels:
        app: ps-app
    spec:
      containers:
        - name: ps-app-container
          image: us-central1-docker.pkg.dev/pluralsight-demos-475513/ps-registry/pluralsight-app:2
          ports:
            - containerPort: 8080
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: ps-app-service
spec:
  selector:
    app: ps-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer