image:
  repository: us-central1-docker.pkg.dev/pluralsight-demos-475513/ps-registry/pluralsight-app
  tag: 719b0bf
  pullPolicy: IfNotPresent
replicaCount: 3
service:
  type: LoadBalancer
  port: 80
  targetPort: 8080
redis:
  enabled: true
postgresql:
  enabled: true
