name: 'Pluralsight CICD'
on:
  workflow_dispatch:
  push:
    branches: ['main']
    exclude-paths:
      - ps-app.yaml

# needed for gcloud authentication
permissions:
  id-token: write
  contents: read

jobs:
  build-container:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.docker.outputs.image_tag }}

    steps:
      - uses: actions/checkout@v4

      - name: Install yq
        run: sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq && sudo chmod +x /usr/bin/yq

      - name: "Set Version Tag"
        run: echo "version_tag=$(echo ${GITHUB_SHA::7})" >> $GITHUB_OUTPUT
        id: version

      - name: "Authenticate to Google Cloud"
        id: auth
        uses: google-github-actions/auth@v2
        with:
          create_credentials_file: true
          workload_identity_provider: projects/691683364317/locations/global/workloadIdentityPools/github-identity-pool/providers/github-workload-identity-prvdr
          service_account: github-actions-sa@pluralsight-demos-475513.iam.gserviceaccount.com
      
      - name: "Setup gcloud cli"
        uses: 'google-github-actions/setup-gcloud@v2'
        with:
          version: '>= 363.0.0'

      - name: Docker Build and push
        id: docker
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev

          export IMAGE_TAG=us-central1-docker.pkg.dev/pluralsight-demos-475513/ps-registry/pluralsight-app:${{ steps.version.outputs.version_tag }}
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

          docker build --tag $IMAGE_TAG .
          docker push $IMAGE_TAG

      - name: Update Manifest
        id: update-Manifest
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          yq eval '.spec.template.containers[0].image = "$IMAGE_TAG"' -i ps-app.yaml

          git add ps-app.yaml
          git commit -m "updating deployment manifest"
          git push origin ${{ github.ref }}
  